<!DOCTYPE html>
<html>
<head>
    
    <title>
    </title>

</head>
<body>
    
    <h1>create product Page</h1>
    <form action = "/" method="POST">
        Name: <input type = "text" name="name"><br/>
        Price: <input type = "text" name="price"><br/>
        Image: <input type = "img" name="image"><br/>
        <button type ="submit">Create products</button>
    </form> 


    
</body>
</html>