<!DOCTYPE html>
<html>
<head>
    
    <title>Pokemon</title>

</head>
<body>
    
    <h1>New pokemon Page</h1>
    <form action ="/pokemon" method="POST">
        Name: <input type = "text" name="name"><br/>
        Image: <input type = "text" name="img"><br/>
        <button type ="submit">new pokemon</button>
    </form> 


    
</body>
</html>